.loader-wrap {
    width: 100vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}

.loader {
    left: 50%;
    top: 30%;
}
.loaderWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.load {
    position: fixed;
    z-index: 10000;
    background-color: #00000061;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}