.registration {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.registration h2 {
    text-align: center;
    font-size: 40px;
    color: darkslategrey;
}