.btn {
    outline: none;
    transition-duration: 0.4s;
    min-width: 70px;
    height: 30px;
    border: 1px solid #4CAF50;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    background-color: #4CAF50; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}